extends layout
block content
  h1= title
  form(id='FoxForm', action="/resource/Fox", method="POST")
    div.form-group
      label.FoxAttr(for='Fox_color') Fox type
      input#Fox_color(type='text', name='Fox_color')
    div.form-group
      label.FoxAttr(for='Fox_breed') Fox breed
      input#Fox_breed(type='text', name='Fox_breed')
    div.form-group
      label.FoxAttr(for='Fox_price') Fox price
      input#Fox_price(type='number', name='Fox_price')
      input(type="submit")
  script.
    document.forms['FoxForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Save succeded")
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
    });
    });